.socials {
  @extend %ul-reset;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
.socials__item {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-left: 8.5%;
  background-image: url("../img/social-icons.png");
  opacity: 0.3;
  transition: opacity .2s, transform .2s;
  @extend %cover;
  @extend %hide-text;
  &:hover {
    opacity: 1;
  }
  &:active {
    transform: scale(1.06);
  }
}
.socials__item--tw {
  background-position: 0 0;
}
.socials__item--fb {
  background-position: -54px 0;
}
.socials__item--lk {
  background-position: -120px 0;
}
.socials__item--inst {
  background-position: -180px 0;
}
