.steps {
  @extend %ul-reset;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

}
.steps__item {
  width: 30%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin-bottom: 10px;
  margin-right: 5%;
  padding-right: 2.55%; //30
  &:nth-child(3n) {
    margin-right: 0;
  }
}
.steps__icon {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 40px;
  @extend %hide-text;
  background-color: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
}
.steps__icon--find {
  @include sprite-image($icon-search-1x);
  @include sprite-position($icon-search-1x);
}
.steps__icon--choose {
  @include sprite-image($icon-mouse-1x);
  @include sprite-position($icon-mouse-1x);
}
.steps__icon--build {
  @include sprite-image($icon-browser-1x);
  @include sprite-position($icon-browser-1x);
}
.steps__content {
  flex: 1;
  text-align: left;
  padding-left: 20px;
}
.steps__title  {
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}
.steps__text  {
  line-height: 20px;
  color: #5e5e5e;
}
