include _mixins
include _head


doctype
html(lang="en").no-js
  block head
    head
      +head({
        "title": "Хостинг",
        "author": "Anatoliy Vershinin",
        "description": "Example page"
      })
    |
    body
      |
      |
      <!--[inf lt IE 9]
          p.browsehappy
            | Вы используете strong устаревший  браузер.
            | Пожалуйста a.(href="http://browsehappy.com/") обновите его.
      <![endif]-->
      |
      |
      block content
      |
      |
      block vendors
        script(type="text/javascript", src='js/bundle.js')
      |
      block scripts
        script(type="text/javascript", src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false')
        script(type="text/javascript", src='js/app.js')
