{
  "extends": ["stylelint-config-standard", "stylelint-config-htmlacademy"],
  "rules": {
      "indentation": "tab",
      "string-quotes": "double",
      "block-no-empty": "false",
      "no-duplicate-selectors": true,
      "color-hex-case": "lower",
      "color-hex-length": "long",
      "color-no-hex": false,
      "color-no-invalid-hex": "true",
      "selector-no-qualifying-type": true,
      "selector-no-id": true,
      "selector-no-attribute": true,
      "selector-combinator-space-after": "always",
      "selector-attribute-quotes": "always",
      "selector-attribute-operator-space-before": "always",
      "selector-attribute-operator-space-after": "always",
      "selector-attribute-brackets-space-inside": "never",
      "declaration-block-trailing-semicolon": "always",
      "declaration-no-important": true,
      "declaration-colon-space-before": "never",
      "declaration-colon-space-after": "always",
      "declaration-colon-newline-after": "always-multi-line",
      "declaration-empty-line-before": "never",
      "property-no-vendor-prefix": true,
      "value-no-vendor-prefix": true,
      "number-leading-zero": "always",
      "function-url-quotes": "always",
      "function-url-data-uris": "always",
      "font-weight-notation": "numeric",
      "font-family-name-quotes": "always-unless-keyword",
      "comment-whitespace-inside": "always",
      "comment-empty-line-before": "never",
      "at-rule-no-vendor-prefix": "true",
      "at-rule-no-unknown": "false",
      "at-rule-empty-line-before": "never",
      "rule-empty-line-before": "never-multi-line",
      "selector-pseudo-element-colon-notation": "double",
      "selector-pseudo-class-parentheses-space-inside": "never",
      "selector-list-comma-newline-after": "always",
      "max-empty-lines": "2",
      "media-feature-range-operator-space-before": "always",
      "media-feature-range-operator-space-after": "always",
      "media-feature-parentheses-space-inside": "never",
      "media-feature-colon-space-before": "never",
      "media-feature-colon-space-after": "always"
  }
}
