h1.hero__title Strength in equality.The power of dreams
  p.hero__text Web hosting for $9.95/mo $2.95/mo. Sign up today and also
    |get a free
    br
    |1-on-1 consultation to help you get started.
  a(href="#").btn.hero__btn#js-get-started Get started
  .hero__row
    a(href="#").hero__link Learn more
