div.logo
  a(href="#").logo__link
    .logo__wrap
      picture
        img(src="img/content/logo.png", srcset="img/content/logo@2x.png 2x"
        width="56" height="36" alt="Cloud Hosting" title="")
    .logo__slogan.logo__slogan--accent Nine cloud
      span hosting

