nav.menu#js-menu
  button(type="button" aria-label="Menu" aria-controls="navigation").hamburger.menu__hamburger.hamburger--collapse
    span.visually-hidden Открыть меню
    span.hamburger-box
      span.hamburger-inner
  ul.menu__list
    li.menu__item
      a(href="js-header").menu__link Hosting
    li.menu__item
      a(href="js-domain").menu__link.menu__link--active Domains
    li.menu__item
      a(href="js-features").menu__link Features
    li.menu__item
      a(href="js-plans").menu__link Plans
    li.menu__item
      a(href="js-testi").menu__link Testimonials
    li.menu__item
      a(href="js-contacs").menu__link Contacts


// -
  ul.menu__list
    - var items = ["Hosting", "Domains", "Features", "Plans", "Testimonials", "Contacts"]
    each menu in items
      if menu == "Domains"
        li.menu__item
          a(href="#").menu__link.menu__link--active=menu
      else
        li.menu__item
          a(href=links).menu__link=menu
//
