.modals
  .modal.modal--login#js-modal-login
    h2.modal__title Modal Login
    p.modal__text Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      |Dolore aut officiis eaque itaque repudiandae nemo, ea praesentium ullam
      |tempora nisi numquam harum accusamus
      |nihil, animi iure minus quasi labore doloremque.
    a(href="#").btn.modal__btn.js-modal-close Close

  .modal.modal--order#js-modal-order
    h2.modal__title Modal Title Order
    p.modal__text Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      | Dolore aut officiis eaque itaque repudiandae nemo, ea praesentium ullam
      | tempora nisi numquam harum accusamus
      | nihil, animi iure minus quasi labore doloremque.
    a(href="#").btn.modal__btn.js-modal-close Send
