ul.socials
  li.socials__item
    a.socials__link(href="#", target="_blank", rel="noopener noreferrer")
      span.visually-hidden Twitter
      +icon("socials__icon", "twitter", 28)
  li.socials__item
    a.socials__link(href="#", target="_blank", rel="noopener noreferrer")
      span.visually-hidden Facebook
      +icon("socials__icon", "facebook", 28)
  li.socials__item
    a.socials__link(href="#", target="_blank", rel="noopener noreferrer")
      span.visually-hidden Instagram
      +icon("socials__icon", "inst", 28)
  li.socials__item
    a.socials__link(href="#", target="_blank", rel="noopener noreferrer")
      span.visually-hidden Instagram
      +icon("socials__icon", "linkedIn", 28)
