.subscribe
  .container.subscribe__container
    .subscribe__title.visually-hidden Subscribe section
    .subscribe__follow
      h4.subscribe__follow-title Follow us on
      .subscribe__social
        include ../blocks/_socials
    .subscribe__form-wrapper
      label(for="subscribe__form").subscribe__form-title Subscribe
      form(action="#" method="POST", name="subscribe-search-from").search.subscribe__form#subscribe__form
        label(for="subscribe__email").visually-hidden Set email
        input(type="text" name="subscribe__email",
          placeholder="Enter your e-mail here" required).search__input.subscribe__input#subscribe__email
        button(type="submit").search__btn.subscribe__btn Send
