extends ../basic/_template.pug

block content

  .wrapper
    //HEADER
    include ../layout/_header
    //END HEADER
    |
    |
    //MAIN CONTENT

    main.content
      //include ../blocks/_hero
      //- |
      //- |
      include ../layout/_benefits
      |
      |
      include ../layout/_domain
      |
      |
      include ../layout/_features
      |
      |
      include ../layout/_plans
      |
      |
      include ../layout/_testi
      |
      |
      include ../layout/_blog
      |
      |
      include ../layout/_contacs
      |
    //END CONTENT
    |
    |
    //MAIN FOOTER
    include ../layout/_footer
    //END FOOTER
