/* Шрифты */
/* font-family: "RobotoRegular"; */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/RobotoRegular/roboto-regular.woff") format("woff"),
  url("../fonts/Roboto/RobotoRegular/roboto-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/RobotoMedium/roboto-medium.woff") format("woff"),
  url("../fonts/Roboto/RobotoMedium/roboto-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/RobotoBold/roboto-bold.woff") format("woff"),
  url("../fonts/Roboto/RobotoBold/roboto-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
/* font-family: "PT-sans-Regular"; */
@font-face {
  font-family: "PT-sans";
  src: url("../fonts/PT-sans/pt-sans-regular/pt-sans-regular.woff") format("woff"),
  url("../fonts/PT-sans/pt-sans-regular/pt-sans-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
/* font-family: "PT-sans-Bold"; */
@font-face {
  font-family: "PT-sans";
  src: url("../fonts/PT-sans/pt-sans-bold/pt-sans-bold.woff") format("woff"),
  url("../fonts/PT-sans/pt-sans-bold/pt-sans-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}


