// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$browse-icon-name: 'browse-icon';
$browse-icon-x: 125px;
$browse-icon-y: 0px;
$browse-icon-offset-x: -125px;
$browse-icon-offset-y: 0px;
$browse-icon-width: 27px;
$browse-icon-height: 26px;
$browse-icon-total-width: 152px;
$browse-icon-total-height: 36px;
$browse-icon-image: 'png-sprite.png';
$browse-icon: (125px, 0px, -125px, 0px, 27px, 26px, 152px, 36px, 'png-sprite.png', 'browse-icon', );
$mouse-icon-name: 'mouse-icon';
$mouse-icon-x: 0px;
$mouse-icon-y: 0px;
$mouse-icon-offset-x: 0px;
$mouse-icon-offset-y: 0px;
$mouse-icon-width: 19px;
$mouse-icon-height: 36px;
$mouse-icon-total-width: 152px;
$mouse-icon-total-height: 36px;
$mouse-icon-image: 'png-sprite.png';
$mouse-icon: (0px, 0px, 0px, 0px, 19px, 36px, 152px, 36px, 'png-sprite.png', 'mouse-icon', );
$search-icon-name: 'search-icon';
$search-icon-x: 59px;
$search-icon-y: 0px;
$search-icon-offset-x: -59px;
$search-icon-offset-y: 0px;
$search-icon-width: 26px;
$search-icon-height: 25px;
$search-icon-total-width: 152px;
$search-icon-total-height: 36px;
$search-icon-image: 'png-sprite.png';
$search-icon: (59px, 0px, -59px, 0px, 26px, 25px, 152px, 36px, 'png-sprite.png', 'search-icon', );
$spritesheet-width: 152px;
$spritesheet-height: 36px;
$spritesheet-image: 'png-sprite.png';
$spritesheet-sprites: ($browse-icon, $mouse-icon, $search-icon, );
$spritesheet: (152px, 36px, 'png-sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
