.contacs__map {
  position: relative;
  min-height: 548px;
  color: #000000;
  background-color: #f4f6f8;
  background-image: url("../img/decor/map-desktop@1x.jpg");
  @extend %cover;
  @include broken-image($color: #f4f6f8);
  @media #{$retina} {
    background-image: url("../img/decor/map-desktop@2x.jpg");
  }
}
.contacs__map-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 40;
  top: 0;
  left: 0;
  font-size: 0;
}
.contacs__map-content {
  position: absolute;
  z-index: 50;
  top: 50%;
  left: 10%;
  margin-top: -150px;
  width: 400px;
  padding: 2%;
  color: #fff;
  background-color: rgba(#000, 0.7);
}
.contacs__map-title {
  font-size: 18px;
  margin-bottom: 5px;
}
.contacs__title {
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 1.35;
  font-weight: 400;
  font-family: $font-base;
  color: #fff;
}
.contacs__address {
  color: #fff;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 20px;
  font-style: normal;
}
.contacs__workdays {
  font-size: 12px;
}
.contacs__block {
  font-size: 0;
}
.contacs__tell,
.contacs__mail {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.contacs__mail  {
  margin-right: 0;
  text-decoration: underline;
  color: #e84c3d;
}
