section.benefits
  .container.benefits__container
    h2.benefits__title.visually-hidden List of benefits
    ul.benefits__list
      li.benefits__item.benefits__item--time.wow.fadeInLeft
        .benefits__icon Icon time
        h3.benefits__subtitle 99,9% Uptime guarantee
        p.benefits__text Disk space in all packages has been increased by ten times!
        a(href="#").benefits__more Read more
      li.benefits__item.benefits__item--servise.benefits__item--active.wow.fadeIn
        .benefits__icon Icon servise
        h3.benefits__subtitle Managed Services
        p.benefits__text Leave the set up, management and monitoring to us.
        a(href="#").benefits__more Read more
      li.benefits__item.benefits__item--cloud.wow.fadeInRight
        .benefits__icon Icon cloud
        h3.benefits__subtitle Cloud Services
        p.benefits__text Reliable, high- performance cloud that meets your changing business demands.
        a(href="#").benefits__more Read more
