section.blog
  .container.blog__container
    h2.blog__title Company Blog
    ul.blog__list
      li.blog__list
        article(data-wow-offset="100").post.wow.fadeInUp
          .post__left
            h3.post__title
              a(href="#").post__title-link How does the Internet Create Potential
            .post__info
              time(datetime="31.01.2016").post__info-item 31 January, 2016
              .post__info-item
                span.post__info-count-comments 6
                |
                |comments
              .post__info-item
                span.post__icon.post__icon--heart Icon heart
                span.post__info-count-likes 12
            p.post__text Etiam tempor vehicula dui, sit amet accumsan nisi vehicula ac. Fusce
              |finibus lacus lobortis, imperdiet justo et, placerat sapien. Nullam imperdiet justo
              |et, placervelit turpis, suscipit vitae commodo.
              |
              span.post__text.post__text--hidden Etiam tempor vehicula dui, sit amet accumsan nisi vehicula
              |
              |
              a(href="#").post__text-more.js-read-more Read More
          .post__right
            a(href="#").post__image-link
              img(src="img/content/photo1.jpg", width="220", height="180", alt="Photo1").post__img
        article(data-wow-delay="0.15s", data-wow-offset="100").post.wow.fadeInUp
          .post__left
            h3.post__title
              a(href="#").post__title-link How does the Internet Create Potential
            .post__info
              time(datetime="31.01.2016", pubdate="").post__info-item 31 January, 2016
              .post__info-item
                span.post__info-count-comments 8
                |
                |comments
              .post__info-item
                span.post__icon.post__icon--heart Icon heart
                span.post__info-count-likes 22
            p.post__text Etiam tempor vehicula dui, sit amet accumsan nisi vehicula ac. Fusce
              | finibus lacus lobortis, imperdiet justo et, placerat sapien. Nullam velit turpis,
              | suscipit vitae commodo.
              |
              span.post__text.post__text--hidden Etiam tempor vehicula dui, sit amet accumsan nisi vehicula
              |
              |
              a(href="#").post__text-more.js-read-more Read More
          .post__right
            a(href="#").post__image-link
              img(src="img/content/photo2.jpg", width="220", height="180", alt="Photo2").post__img
        article(data-wow-delay="0.3s", data-wow-offset="100").post.wow.fadeInUp
          .post__left
            h3.post__title
              a(href="#").post__title-link How does the Internet Create Potential
            .post__info
              time(datetime="31.01.2016", pubdate="").post__info-item 31 January, 2016
              .post__info-item
                span.post__info-count-comments 12
                |
                |comments
              .post__info-item
                span.post__icon.post__icon--heart Icon heart
                span.post__info-count-likes 415
            p.post__text Etiam tempor vehicula dui, sit amet accumsan nisi vehicula ac. Fusce
              | finibus lacus lobortis, imperdiet justo et, placerat sapien. Nullam velit turpis,
              | suscipit vitae commodo
              |
              span.post__text.post__text--hidden Etiam tempor vehicula dui, sit amet accumsan nisi vehicula
              |
              |
              a(href="#").post__text-more.js-read-more Read More
          .post__right
            a(href="#").post__image-link
              img(src="img/content/photo2.jpg", width="220", height="180", alt="Photo3").post__img
    a(href="#").btn.blog__more Show more
