section.contacs#js-contacs
  .contacs__map
    h2.visually-hidden Contacs information
    .contacs__map-wrap#google-map Карта
    .contacs__map-content.wow.fadeInLeft
      h3.contacs__title We are interested
        br
        | in long-term cooperation
      address.contacs__address 100 William Street New York,
        br
        | New York 10038
      .contacs__workdays Mon – Fri , 8 am – 5 pm
      .contacs__block
        a(href="tel:8006389996").contacs__tell 800-638-9996,
        a(href="tel:518-292-4500").contacs__tell 518-292-4500,
        a(href="mailto:info@somecompany.com").contacs__mail info@somecompany.com
  .contacs__subscribe
    include ../blocks/_subscribe
