section.domain#js-domain
  .container.domain__container
    h2.domain__title Search Domain
    p.domain__desc Save big on domain options like .com, .co, .biz, .net, .org and grab new domains like .xyz,
      br
      |.club, .guru, .email, .link, .today, and more!
    .domain__search-block
      form(action="#", method="GET", name="domain-search-from").search.domain__search
        label(for="domain__input").visually-hidden Поиск по сайту
        input(type="search" name="search-domain"
          placeholder="http://website.com").search__input.domain__search-input#domain__input
        button(type="submit").btn.search__btn.domain__search-btn Find domain
    ul.domain__steps.steps
      li(data-wow-delay="0s", data-wow-offset="100").steps__item.wow.fadeInUp
        .steps__icon.steps__icon--find Icon find
        .steps__content
          h3.steps__title Find domain
          p.steps__text Etiam efficitur, risus sit amet sodales laoreet, sem mauris
            |interdum lectus, nec luctus est.
      li(data-wow-delay="0.25s", data-wow-offset="100").steps__item.wow.fadeInUp
        .steps__icon.steps__icon--choose Icon Choose
        .steps__content
          h3.steps__title Choose plan
          p.steps__text Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
            |posuere cubilia. Faucibu sorci luctus et ultrices posuere cubilia.
      li(data-wow-delay="0.5s", data-wow-offset="100").steps__item.wow.fadeInUp
        .steps__icon.steps__icon--build Icon build
        .steps__content
          h3.steps__title Build your website
          p.steps__text Curabitur imperdiet enim id faucibus sollicitudin.
