section.features#js-features
  .container.features__container
    h2.features__title Features
    ul.features__list
      li.features__item
        .features__icon.features__icon--love Icon love
        .features__content
          h3.features__item-title Made with love
          p.features__text Curabitur imperdiet enim id faucibus sollicitudin.
      li.features__item
        .features__icon.features__icon--data Icon Databases
        .features__content
          h3.features__item-title Databases
          p.features__text Curabitur imperdiet enim id faucibus sollicitudin.
      li.features__item
        .features__icon.features__icon--server Icon VPS server
        .features__content
          h3.features__item-title VPS server
          p.features__text Phasellus aliquam arcu quis lectus aliquam, sed dignissim ligula efficitur.
      li.features__item
        .features__icon.features__icon--fully Icon Fully
        .features__content
          h3.features__item-title Fully secured
          p.features__text Phasellus aliquam arcu quis lectus aliquam efficitur.
      li.features__item
        .features__icon.features__icon--backups Icon backups
        .features__content
          h3.features__item-title Daily backups
          p.features__text Etiam sagittis tellus at lacus cursus, non molestie nulla.
      li.features__item
        .features__icon.features__icon--cloud Icon Cloud hosted
        .features__content
          h3.features__item-title Cloud hosted
          p.features__text Etiam sagittis tellus at lacus cursus, non molestie nulla.
