footer.footer
  .container.footer__container
    .footer__block
      h4.footer__title Solutions
      ul.footer__nav
        li.footer__nav-item
          a(href="#").footer-nav__link Web Solutions Overview
        li.footer__nav-item
          a(href="#").footer-nav__link Email Marketing
        li.footer__nav-item
          a(href="#").footer-nav__link Website Promotion
        li.footer__nav-item
          a(href="#").footer-nav__link eCommerce Website
    .footer__block
      h4.footer__title Solutions
      ul.footer__nav
        li.footer__nav-item
          a(href="#").footer-nav__link Shared Hosting
        li.footer__nav-item
          a(href="#").footer-nav__link Reseller Hosting
        li.footer__nav-item
          a(href="#").footer-nav__link Cloud Managed VPSn
        li.footer__nav-item
          a(href="#").footer-nav__link Dedicated Servers
    .footer__block
      h4.footer__title Services
      ul.footer__nav
        li.footer__nav-item
          a(href="#").footer-nav__link Shared Hosting
        li.footer__nav-item
          a(href="#").footer-nav__link Reseller Hosting
        li.footer__nav-item
          a(href="#").footer-nav__link Cloud Managed VPS
        li.footer__nav-item
          a(href="#").footer-nav__link Dedicated Servers
    .footer__block
      h4.footer__title Support
      ul.footer__nav
        li.footer__nav-item
          a(href="#").footer-nav__link Knowledge Base
        li.footer__nav-item
          a(href="#").footer-nav__link Support Request
        li.footer__nav-item
          a(href="#").footer-nav__link Client Area
    .footer__block
      h4.footer__title Legal Terms
      ul.footer__nav
        li.footer__nav-item
          a(href="#").footer-nav__link Terms of Use
        li.footer__nav-item
          a(href="#").footer-nav__link Privacy Policy
    .footer__block.footer__contacs
      a(href="tel:+380443834389").footer__tell (044) 383 4389
      a(href="mailto:support@cloudhost.com").footer__email support@cloudhost.com
      span.footer__copyright Copyright © 2017 Cloud Host.All rights reserved.
