header.header#js-header
  .header__top
    .container.header__container.hero
      .header__logo
        include ../blocks/_logo
      .header__nav
        include ../blocks/_menu
      .header__user
        a(href="#", data-popup="#js-modal-login").btn.header__login.js-show-popup Login
  .header__bottom
    .container.header__container
      include ../blocks/_hero
