section.plans#js-plans
  .container.plans__container
    h2.plans__title Pick your plan
    p.plans__desc Upgrade, downgrade or cancel anytime.
    .plans__wrapper
      .plans__item
        header.plans__header
          h3.plans__item-title Personal
          p.plans__item-text Perfect Pack for Small Business
        .plans__price
          sup $
          |25
          span / mo
        ul.plans__include
          li.plans-include__item
            b 3 Gb
            | of storage
          li.plans-include__item
            b 10
            | repositories
          li.plans-include__item
            b 10
            | parked domains
          li.plans-include__item
            b 25 FTP
            | accounts
        a(href="#").btn.plans__btn Order now
      .plans__item.plans__item--active
        header.plans__header
          h3.plans__item-title Business
          p.plans__item-text Perfect Pack for Business
        .plans__price
          sup $
          | 45
          span / mo
        ul.plans__include
          li.plans-include__item
            b 3 Gb
            |  of storage
          li.plans-include__item
            b 10
            |  repositories
          li.plans-include__item
            b 10
            |  parked domains
          li.plans-include__item
            b 25 FTP
            |  accounts
        a(href="#").btn.plans__btn Order now
      .plans__item
        header.plans__header
          h3.plans__item-title Corporation
          p.plans__item-text Perfect Pack for Business
        .plans__price
          sup $
          | 65
          span / mo
        ul.plans__include
          li.plans-include__item
            b 3 Gb
            |  of storage
          li.plans-include__item
            b 10
            |  repositories
          li.plans-include__item
            b 10
            |  parked domains
          li.plans-include__item
            b 25 FTP
            |  accounts
        a(href="#").btn.plans__btn Order now
    p.plans__chat If you need help finding a plan that’s right for you,
        br
        |just
        |
        a(href="#").plans__chat-link chat with a live person
