section.plans#js-plans
  .container.plans__container
    h2.plans__title Pick your plan
    p.plans__desc Upgrade, downgrade or cancel anytime.
    .plans__wrapper
      div(data-wow-duration="1.2s", data-wow-offset="100").plans__item.wow.flipInY
        header.plans__header
          h3.plans__item-title Personal
          p.plans__item-text Perfect Pack for Small Business
        .plans__price
          sup $
          |25
          span / mo
        ul.plans__include
          li.plans-include__item
            b 3 Gb
            | of storage
          li.plans-include__item
            b 10
            | repositories
          li.plans-include__item
            b 10
            | parked domains
          li.plans-include__item
            b 25 FTP
            | accounts
        a(href="#", data-popup="#js-modal-order").btn.plans__btn.js-show-popup Order now
      div(data-wow-delay="0.3s",
        data-wow-duration="1.2s", data-wow-offset="100").plans__item.plans__item--active.wow.flipInY
        header.plans__header
          h3.plans__item-title Business
          p.plans__item-text Perfect Pack for Business
        .plans__price
          sup $
          | 45
          span / mo
        ul.plans__include
          li.plans-include__item
            b 3 Gb
            |  of storage
          li.plans-include__item
            b 10
            |  repositories
          li.plans-include__item
            b 10
            |  parked domains
          li.plans-include__item
            b 25 FTP
            |  accounts
        a(href="#", data-popup="#js-modal-order").btn.plans__btn.js-show-popup Order now
      div(data-wow-delay="0.6s", data-wow-duration="1.2s", data-wow-offset="100").plans__item.wow.flipInY
        header.plans__header
          h3.plans__item-title Corporation
          p.plans__item-text Perfect Pack for Business
        .plans__price
          sup $
          | 65
          span / mo
        ul.plans__include
          li.plans-include__item
            b 3 Gb
            |  of storage
          li.plans-include__item
            b 10
            |  repositories
          li.plans-include__item
            b 10
            |  parked domains
          li.plans-include__item
            b 25 FTP
            |  accounts
        a(href="#", data-popup="#js-modal-order").btn.plans__btn.js-show-popup Order now
    p.plans__chat If you need help finding a plan that’s right for you,
        br
        |just
        |
        a(href="#", data-id="js-tooltipe").plans__chat-link.js-tooltipe
          |chat with a live person
          span(data-id="#tooltipe").plans__tooltip#js-tooltipe Some text popup
