section.testi
  .container.testi__container
    h2.testi__title Testimonials
    p.testi__desc Couple of words about this section
    ul.testi__list
      li.testi__item
        p.testi__text The best and most reliable VPS account I have experienced
          |from happy-hosting. I have never expected to have such a reliable host.
          |Thanks to them very much for their unparalleled services with excellent administration.
        .testi__photo
          img(src="http://placehold.it/80", width="80", height="80", alt="Testi photo").testi__img
        p.testi__author Oscar Wild,  Pragmatic Solutions


